.navgacion ul{
    text-decoration: none;
    text-align: end;
    background-color: black;
    padding: 30px;
}
.navgacion ul li{
    list-style: none;
    display: inline;
    text-align: center;
    margin: 0 90px 0;
}
.navgacion ul li a{
    text-decoration: none;
    color: white;
}
.navgacion ul li a:hover{
    background-color: white;
    color: black;
    padding: 20px;
}
.bd{
    background-color: gray;
    display: inline-block;
}
.bd img{
    width: 72%;
    float: left;
}
.bd p{
    font-size: 1.5em;
    color: #ffffff;
    text-align: justify;
    position: relative;
    top: 155px;
}