<section>
    <header>
        <div class="navgacion">
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <body>
        <div class="bd">
            <div class="not-found">
                <img src="assets/undraw_page_not_found_su7k.svg">
                <p class="clearfix">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quaerat quidem nesciunt aspernatur sed voluptate officiis nihil magnam aut voluptatibus, doloribus voluptas libero? Blanditiis ullam dolore rem maiores, atque molestias?</p>
            </div>
        </div>
    </body>
</section>